.card {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-inline: 2rem;
    border-radius: 8px;
    background-color: var(--card-background-color);
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-container .card-info {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.card-container .card-info .time span {
    color: var(--text-color);
}

.card-container .card-info h4 {
    color: var(--heading-text);
    font-size: 1.2rem;
}

.card-container .card-info p {
    color: var(--text-color);
}

.card-container .location {
    color: var(--primary-violet);
    font-weight: 600;
    margin-block-end: 2rem;
}

.card .logo {
    border-radius: 10px;
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: -1rem;
}

.card .logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    object-fit: cover;

}


@media screen and (max-width:375px) {



    .card .card-container h4 {
     font-size: 1rem;
    }
 }
 
 @media screen and (max-width:768px) {
     .card {
         width: 290px;
         height: 100%;
     }
 
     .card h4 {
         font-size: 1rem;
     }
 
     .time span {
         font-size: .9rem;
     }
 
     .location p {
         font-size: .8rem;
     }
 }
 
 
