.container {
    max-width: 700px;
    margin: 0 auto;
}

.header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin-top: -2rem;
    border-radius: 5px;
    
}

.logo {
    display: flex;
    align-items: center;
    
}

.background {
   width: 100px;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-block: 2.4rem;
}

.company-names {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.job-details {
    margin-block: 3rem;
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 5px;
}

.site {
    margin-inline-end: 1rem;
    padding: .9rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    color: var(--primary-violet);
    background-color: var(--primary-default-2);
    font-weight: 600;
    border-radius: 3px;
}

.job-details .job-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 2rem;
}

.job-details .job-heading .heading {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.job-details .job-heading .heading span {
    color: var(--secondary-gray);
}

.job-details .job-heading .heading h3 {
    color: var(--primary-midnight);
    font-size: 2rem;
}

.job-details .job-heading .heading p {
    font-weight: 700;
    color: var(--primary-violet);
}

.apply {
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    outline: none;
    background-color: var(--primary-violet);
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.job-content {
    color: var(--secondary-gray);
    font-size: .9rem;
    line-height: 1.7;
}

.requirements h2 {
    margin-block: 2rem;
    color: var(--primary-midnight);
}

.requirements ul, ol {
    padding-inline: 1rem;
    line-height: 1.7;
    margin-block-start: 2rem;
    color: var(--secondary-gray);
    font-size: .9rem;
}

.requirements p {
    line-height: 1.7;
    color: var(--secondary-gray);
    font-size: .9rem;
}

ul li::marker{
    color: #5964E0;
}
ul li {
    margin-block: 1rem; 
}
ol li::marker{
    color: #5964E0; 
}

@media screen and (max-width:375px){
    .container {
        width: 100%;
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .header {
        width: 100%;
        margin-inline: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .background {
        padding: 1.2rem;
        width: 50px;
        border-radius: 10px;
        z-index: 10;
        margin-top: -1rem;
    }

    .company-names {
        text-align: center;
    }

    .site {
        margin-bottom: 1.5rem;
    }
}