.wrapper {
    width: 100%;
    background-color: white;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
}

.apply {
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    outline: none;
    background-color: var(--primary-violet);
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
 
.job-details {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.job-details p {
    color: var(--secondary-gray);
}

@media screen and (max-width:375px) {
    .wrapper {
        width: 100%;
    }

    .job-details {
        display: none;
    }

    .apply {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width:768px){
   .container {
    padding-inline: 1.5rem;
   }

   .job-details h2 {
    font-size: 1.3rem;
   }
   .job-details p {
    font-size: .9rem;
   }

   .apply {
    font-size: .8rem;
    padding: .6rem 2rem; 
   }
}