.wrapper {
    width: 100%;
    height: 25vh;
    background: url("../../../assets/bg-pattern-header.svg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 2rem;
}

.toggle {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.toggle-icon {
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 20px;
    padding: .5rem;
    cursor: pointer;
    position: relative;
}

.toggle-inside {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: var(--primary-violet);
    border-radius: 100%;
    transition: left 0.3s ease; 
}




@media  screen and (max-width:375px) {
    .wrapper {
        width: 100%;
        background-image: url('../../../assets/logos/Triangle.png');
        object-fit: cover;
        background-repeat: no-repeat;
        border-bottom-left-radius: none;
        height: 20vh;
    }

    .container {
        width: 100%;
        padding-inline: 1.5rem;
    }
}

@media screen and (max-width:768px)  {
    .wrapper {
        width: 100%;
    }
    .container  {
        width:calc(100% - 5rem);
        margin: 0 auto;
        padding-inline: 1.5rem;
    }
}