<div class="container" [ngClass]="{ 'overlay-active': showOverlay }">
  <div class="wrapper">
    <div class="search-container">
      <div class="input">
        <img src="../../../assets/icon-search.svg" alt="" />
        <input
          type="text"
          placeholder="Filter by title, companies expetise..."
          class="title"
          [(ngModel)]="searchTitle"
        />
      </div>
     


      <div class="input input-location">
        <img src="../../../assets/icon-location.svg" alt="" />
        <input
          type="text"
          placeholder="Filter by location..."
          class="location"
          [(ngModel)]="searchLocation"
        />
      </div>
      <div class="input input-filter">
        <div class="filter">
          <input type="checkbox" [(ngModel)]="fullTimeOnly" />
          <label for="">Full time only</label>
        </div>

        <button class="search-btn" (click)="search()">Search</button>
      </div>

      <div class="icon-placeholder">
        <img
          src="../../../assets/logos/icon-filter.svg"
          alt=""
          (click)="toggleDropdown()"
        />
        <ion-icon name="search" (click)="search()"></ion-icon>
      </div>
    </div>

    <div class="dropdown" *ngIf="showDropDown">
      <div class="backdrop"></div>
      <div class="dropdown-content">
        <div class="dropdown-location">
          <img src="../../../assets/icon-location.svg" alt="" />
          <input
            type="text"
            placeholder="Filter by location..."
            class="location"
            [(ngModel)]="searchLocation"
          />
        </div>
        <hr />
        <div class="dropdown-check">
          <input type="checkbox" [(ngModel)]="fullTimeOnly" />
          <label for="">Full time only</label>
        </div>

        <button class="dropdown-search" (click)="search()">Search</button>
        <ion-icon name="close" class="icon-close" (click) = "close()"></ion-icon>
      </div>
    </div>
  </div>

  <div class="cards" >
    <div class="card" [@fadeInOut]>
      <app-card *ngFor="let job of searchedJobs.slice(startIndex, endIndex)" [job]="job"> </app-card>
    </div>
  </div>

  <div class="butotn" *ngIf="showLoadMoreButton()" >
    <button class="btn" (click)="loadMore()">Load More</button>
  </div>
</div>
