@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
}

body {
    background-color: var(--background-color);
}

/* :root {
    --primary-violet:  #5964E0;
    --primary-light-violet:  #939BF4;
    --primary-very-dark-blue: #19202D;
    --primary-midnight: #121721;
    --primary-default-2:#dcdef8;

    --secondary-white: #FFFFFF;
    --secondary-light-grey: #F4F6F8;
    --secondary-gray: #9DAEC2;
    --secondary-dark-gray: #6E8098;
} */

.light-theme{
      --background-color:#F4F6F8;
      --card-background-color:#fff;
      --position-color:#121721;
      --text-color:#9DAEC2;
      --primary-violet:  #5964E0;
      --heading-text:black;
      --site-background:#cfd3fd;
      --site-background-hover:#a9aefd;
      --site-color:#5964E0;
}

.dark-theme {
    --background-color:black; 
    --card-background-color:#121721;
    --position-color:#FFFFFF;
    --primary-violet:  #5964E0;
    --text-color:#9DAEC2;
    --heading-text:white;
    --site-background:rgb(83, 83, 83);
    --site-background-hover:rgb(69, 67, 67);
    --site-color:white
}